* {
  font-family: "Roboto", sans-serif;
}
nav {
  height: 50px;
  background-color: #212121;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}
.menu .menu_item {
  border-right: 1px dashed #000;
  padding-right: 40px;
}
.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader .subheader_text {
  margin-top: 6px;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 100;
}
.subheader .subheader_call {
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  margin-top: 24px;
}
.subheader .subheader_phone {
  margin-top: 8px;
  display: block;
  color: #fff;
  text-align: right;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
}
.subheader .subheader_btn {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  width: 172px;
  height: 46px;
  border-radius: 4px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
  margin-top: 21px;
}
.promo {
  display: flex;
  text-align: center;
  min-height: 800px;
  background: url("../img/background/uber_bg.png") center center/ cover
    no-repeat;
  padding: 150px 0 135px 0;
}
.promo .promo_header {
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}
.promo .promo_subheader {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
}
.promo .promo_description {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 16px;
}
.promo .promo_btn {
  width: 259px;
  height: 63px;
  border-radius: 4px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
  border: none;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 116px;
}

.advantages_block {
  padding: 20px 0px 67px 0px;
}
.advantages_block .advantages_title {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  width: 113px;
  height: 24px;
  padding: 5px 12px;
  background: #000;
}
.advantages_block .advantages_header {
  color: #222;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 33px;
}
.advantages_block .advantages_item {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 48px;}
.advantages_item .advantages_round {
  width: 116px;
  height: 116px;
  background: #1eacc7;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
.advantages_block .advantages_item .advantages_descr{
  width:341px;
}
.advantages_item .advantages_subtitle {
  color: #1EACC7;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
.advantages_item .advantages_text {
  color: #202020;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}
